
body {
  font-family: 'Inter', sans-serif;
}

.container {
    background-color: black;
}

#navegation{
    background-color:  rgba(43, 43, 45, 0.889);
    width: 100%;
    height: 40px;
}

.menu{
    display: flex;
    list-style: none;
    color: rgb(201, 194, 194);
    gap: 40px;
    margin-top: -16px;
    margin-left: 300px;
    font-size: 12px;
    
}

.icone1{
    width: 16px;
    height: 16px;
    margin-left: 252px; /* move o ícone para a direita */
    margin-top: 10px;
}

.icone2{
    width: 23px;
    height: 23px;
    margin-left: 900px; /* move o ícone para a direita */
    margin-top: 8px;
}

.icone3{
    width: 23px;
    height: 23px;
    margin-left: 30px;
    margin-top: 10px;
    

}

.titulo {
    text-align: center;
    color: white;
    margin-top: 60px;
}

#text1{
    font-size: 50px; 
}

#subtext{
    font-size: 25px;
    margin-top: -30px;
}

.onebuttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px; 
}

#saiba {
    color: white;
    background-color: rgba(44, 123, 207, 0.937);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 14px 28px;    /* mantém o tamanho do botão */
}

#comprar {
    color: rgb(96, 139, 230);
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    padding: 14px 28px;  
}

.iphonepro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.aba2 {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
 
}

.iphoneair {
  width: 100vw;
  display: block;
  height: auto;
  margin-top: 20px;
  
}

.texto-sobreimg {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color:black;
}
.texto-sobreimg h2 {
  font-size: 56px;
  margin-bottom: 10px;
}

.texto-sobreimg h3 {
  font-size: 23px;
  color: rgb(205, 154, 60);
  margin-top: 10px;
}

.texto-sobreimg h4 {
  font-size: 23px;
  margin-top: -15px;
}

.aba2buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

#button2comprar {
  color: rgb(96, 139, 230);
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  padding: 14px 28px;
  border: 2px solid rgb(96, 139, 230);
}

.aba3 {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
.magicolorido {
    width: 100vw;
    display: block;
    height: auto;
    margin-top: 0;
}

.text2-sobreimg{
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color:black;
}
.text2-sobreimg h2{
   font-size: 56px;
}

.text2-sobreimg h3{
  font-size: 23px;
  margin-top: -30px;
}

.aba3-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -510px;
}

#button3saiba{
    color: white;
    background-color: rgba(44, 123, 207, 0.937);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 14px 28px;
}

#button3comprar{
    color: rgb(96, 139, 230);
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 14px 28px;
    border: 2px solid rgb(96, 139, 230);
}
/*  */



.img4 {
  position: absolute;
  top: 2000px;
  transform: translate(10%);
}

.img4 img {
  width: 800px;
  height: auto;
  display: block;
  margin-left: -140px;
  
  
}

.img5{
position: absolute;
top: 2000px;
transform: translate(100%);
}

.img5 img {
  width: 769px;
  height: 550px;
  display: block;
 
}


.text3-sobreimg{
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color:black;
}
.text3-sobreimg h2{
   font-size: 35px;
}

.subtext3 {
  font-size: 15px;
  margin-top: -30px;
}


.aba4-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -510px;
}


#button4saiba{
    color: white;
    background-color: rgba(44, 123, 207, 0.937);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 10px 24px;
}


#button4comprar{
    color: rgb(96, 139, 230);
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 14px 28px;
    border: 2px solid rgb(96, 139, 230);
}
/*  */

.text4-sobreimg{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color:black;
}

.text4-sobreimg h2{
   font-size: 35px;
}

.text4-sobreimg p{
  position: absolute;
   font-size: 16px;
   top: 60px;
}

.aba5-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -510px;
}


#button5saiba{
    color: white;
    background-color: rgba(44, 123, 207, 0.937);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 10px 24px;
}

#button5comprar{
    color: rgb(96, 139, 230);
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 10px 24px;
    border: 2px solid rgb(96, 139, 230);
}




.img6 img{
position: absolute;
top: 2555px;
width: 47.7%;
height: auto;

}

.text5-sobreimg h2{
  position: absolute;
  top: -35px;
  text-align: center;
  transform: translateX(30%);
  
}


.text5-sobreimg {
  position: absolute;
  top: 2569px;
  left: 22%;
  transform: translateX(-50%);
  text-align: center;
  color: black;
}



.text5-sobreimg .linha1 {
  font-size: 16px;
  margin-bottom: -13px; /* espaço entre as frases */
  white-space: nowrap;
}

.text5-sobreimg .linha2 {
  font-size: 16px;
  white-space: nowrap;
}

.aba6buttons{
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  top: 305px;
  
}

#button6comprar{
    color: rgb(96, 139, 230);
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid rgb(96, 139, 230);
}

#button6saiba{
    color: white;
    background-color: rgba(44, 123, 207, 0.937);
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
}

.img7 img{
position: absolute;
top: 560px;
width: 700px;
height: auto;
}
.img7{
position: absolute;
top: 2000px;
left: 55%;
}

.text6sobreimg{
  position: absolute;
  top: 830px;
  left: 350px;
  transform: translateX(-50%);
  text-align: center;
  color: black;
}

.aba7buttons{
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  top: 100px;
  
}


#button7comprar{
    color: rgb(96, 139, 230);
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid rgb(96, 139, 230);
}

#button7saiba{
    color: white;
    background-color: rgba(44, 123, 207, 0.937);
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding: 10px 24px;
    white-space: nowrap;
}

.rodape-cinza {
  position: relative;
  top: 1500px;
  background-color: #f4eeee; /* cinza claro */
  width: 1550px;
  height: 400px;
}

.textoo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  text-align: center;
  width: 80%; /* ou 100% se quiser ocupar tudo */
}
.textoo{
  position: absolute;
  font-size: 12px;
  color: rgb(109, 109, 110);
}

.menu-categorias {
  display: flex;
  gap: 60px;
  padding: 40px;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}





